extends components/basic
block career
    body.career(style="overflow-y:auto;")
      include components/header
      .overlay
      .wrap
        include components/info
      include components/footer
