extends components/basic
block index
    include components/header
    <div class='overlay'></div>
        <div class='wrap'>
          <div class='container-fluid block top'>
            <div class='top_left' id='coax'>
              <div class='coax'>
                <div class='img' id='oval-level_4' style='background-image: url(images/svg/oval-level_4.svg)'></div>
                <div class='img' id='oval-level_3' style='background-image: url(images/svg/oval-level_3.svg)'></div>
                <div class='img' id='oval-level_2' style='background-image: url(images/svg/oval-level_2.svg)'></div>
                <div class='img' id='oval-level_1' style='background-image: url(images/svg/oval-level_1.svg)'></div>
              </div>
              <div class='top_info'>
                <h1>Perfection Has No Limits!</h1>
                <p class='sub-h1'>We hold one goal above the others: 100% client satisfaction</p>
                <a class='button button-outline-white button_medium' href='/about.html'>Get More info</a></div>
            </div>
            //- <aside class='top_right-bar'>
            //-   <div class='side-item'>
            //-     <img alt='icon-web_development' src='images/svg/technology/web_development.svg'>
            //-     <h6>Web Development</h6>
            //-     <p>Implementing ideas to the successful solutions!</p>
            //-     <a class='button button-outline-white' href='/web-development.html'>Details</a></div>
            //-   <div class='side-item'>
            //-     <img alt='icon-web_development' src='images/svg/technology/mobile_development.svg'>
            //-     <h6>Mobile Development</h6>
            //-     <p>Have business in your pocket!</p>
            //-     <a class='button button-outline-white' href='/mobile-development.html'>Details</a></div>
            //-   <div class='side-item'>
            //-     <img alt='icon-web_development' src='images/svg/technology/product_design.svg'>
            //-     <h6>Product Design</h6>
            //-     <p>Express your style!</p>
            //-     <a class='button button-outline-white' href='/product-design.html'>Details</a></div>
            //- </aside>
          </div>
          <div class='container-fluid block software_engineering'>
            <h2>Software Engineering</h2>
            <p class='sub-h2'>We use the latest technologies to provide the best software engineering solutions that respond to the modern market needs.</p>
            <div class='tabs_slider'>
              <div class='tab_item' name='active'>
                <img alt='' src='images/svg/software_engineering/startup_ventures.svg'>
                <h6>Startup</h6></div>
              <div class='tab_item'>
                <img alt='' src='images/svg/software_engineering/e_commerce.svg'>
                <h6>E-Commerce</h6></div>
              <div class='tab_item'>
                <img alt='' src='images/svg/software_engineering/healthcare.svg'>
                <h6>Healthcare</h6></div>
              <div class='tab_item'>
                <img alt='' src='images/svg/software_engineering/heavy_industry.svg'>
                <h6>Heavy Industry</h6></div>
              <div class='content-wrap'>
                <div class='indicator'>
                  <div class='active'></div>
                </div>
                <div class='content'>
                  <div class='content-l'>
                    <img alt='' class='icon_bg' src='images/svg/icon_bg.svg'>
                    <img alt='' src='images/svg/software_engineering/startup_ventures.svg'></div>
                  <div class='content-r'>
                    <h3>Startup</h3>
                    <p class='big'>Have you a startup project that needs some help, work to be done and support? COAX provides you with a great team of professional designers, programmers, managers and engineers who have helped dozens of startups projects to grown into a promising and successful business. We are always by your side on your journey to success and help you whenever you need it. This is what we are for.</p></div>
                </div>
                <div class='content'>
                  <div class='content-l'>
                    <img alt='' class='icon_bg' src='images/svg/icon_bg.svg'>
                    <img alt='' src='images/svg/software_engineering/e_commerce.svg'></div>
                  <div class='content-r'>
                    <h3>E-commerce</h3>
                    <p class='big'>Contemporary corporations are aware how successful online business can function when you have a powerful and attractive E-Commerce platform. COAX can help you improve and increase your business profitability through the modern technologies, functionality, useful features and eye-catching E-Commerce website.</p></div>
                </div>
                <div class='content'>
                  <div class='content-l'>
                    <img alt='' class='icon_bg' src='images/svg/icon_bg.svg'>
                    <img alt='' src='images/svg/software_engineering/healthcare.svg'></div>
                  <div class='content-r'>
                    <h3>Healthcare</h3>
                    <p class='big'>COAX team creates and implements innovative solutions in the healthcare industry. We develop secure cloud applications that are HIPAA compliant. Our programs meet all the requirements that are must-follow when it comes to protecting healthcare information. The mobile and web applications we develop suit both the needs of companies-providers and patients. COAX cares about you!</p></div>
                </div>
                <div class='content'>
                  <div class='content-l'>
                    <img alt='' class='icon_bg' src='images/svg/icon_bg.svg'>
                    <img alt='' src='images/svg/software_engineering/heavy_industry.svg'></div>
                  <div class='content-r'>
                    <h3>Heavy Industry</h3>
                    <p class='big'>We use the latest technologies to provide the best software engineering solutions that respond to the modern market needs. Our team delivers high-quality results that are based on your industry-specific expertise and successful methodologies that have already PROVEN to work for MANY projects worldwide.</p></div>
                </div>
              </div>
            </div>
          </div>
          <div class='container-fluid block success_stories'>
            <div class='container'>
              <h2>We have Lot's of Success Stories</h2>
              <p class='sub-h2'>We have lots of stories to inspire you!</p>
              <div class='content-r'>
                <h4>
                  <span class='number'>14</span>Projects this year</h4>
                <h4>
                  <span class='number'>12</span>Clients more than year with us</h4>
                <h4>
                  <span class='number'>25</span>Team members</h4>
                <h4>
                  <span class='number'>4</span>Average product team</h4></div>
              <div class='top_rated_agency'>
                <div class='top_rated_agency-head'>
                  <img alt='' src='images/svg/top_rated_agency.svg'>
                  <h6 class='top_rated_agency-head_title'>Top Rated Agency</h6></div>
                <h4 class='job_success'>Proven Upwork’s 100% Job Success Agency since 2014</h4>
                <ul class='job_statistic'>
                  <li>Total Jobs
                    <span>29</span></li>
                  <li>Total Hours
                    <span>3,413</span></li>
                  <li>Current Jobs
                    <span>4</span></li>
                </ul>
                <a class='button button_medium button-green' href='https://www.upwork.com/agencies/~01bf1f175f500af9ac'>Hire us on upwork</a></div>
            </div>
          </div>
          <div class='container-fluid block words_from_clients'>
            <h2>Clients' Testimonials</h2>
            <p class='sub-h2'>Just a few words from our clients</p>
            <div class='slider'>
              <div class='content-wrap'>
                <div class='content' slide='active'>
                  <div class='words_wrap-item'>
                    <div class='photo_user'>
                      <img alt='' src='images/user_photo-2.jpg'></div>
                    <div class='headline'>
                      <p class='text_color-dark_blu big'>Lucy Chaves Morgans</p>
                      <p class='text_color-cyan'>CEO & Co Founder at Cut A Deal</p></div>
                    <p class='words_text'>Extremely hardworking, very talented and professional.</p></div>
                </div>
                <div class='content'>
                  <div class='words_wrap-item'>
                    <div class='photo_user'>
                      <img alt='' src='images/user_photo.jpg'></div>
                    <div class='headline'>
                      <p class='text_color-dark_blu big'>Jürgen Walter</p>
                      <p class='text_color-cyan'>Datatroniq</p></div>
                    <p class='words_text'>Fast turn-around and very good design skills.</p></div>
                </div>
                <div class='content'>
                  <div class='words_wrap-item'>
                    <div class='photo_user'>
                      <img alt='' src='images/user_photo-3.jpg'></div>
                    <div class='headline'>
                      <p class='text_color-dark_blu big'>Elliot Thomas</p>
                      <p class='text_color-cyan'>Skippr CEO</p></div>
                    <p class='words_text'>A very strong, capable team of experienced developers.</p></div>
                </div>
              </div>
              <div class='arrow-left'>
                <img alt='' src='images/svg/arrow.svg'></div>
              <div class='arrow-right'>
                <img alt='' src='images/svg/arrow.svg'></div>
            </div>
          </div>
          <div class='container-fluid block get_our_media_kit-center'>
            <h2>Get Our Infopack</h2>
            <p class='sub-h2'>Best quick guide to start working with us.</p>
            <form id='media-kit-form'>
              <input class='input input_rounded' placeholder='Enter your Email' required='' type='email'>
              <input class='button button-blue button_big' onclick='_ga(&#39;send&#39;, &#39;Infopack&#39;, &#39;Get_infopack&#39;)' type='submit' value='SEND ME THE KIT!'>
              <svg class='media_kit-bg' height='225' id='media_kit-bg' viewbox='0 0 1305 225' width='1305' xmlns='http://www.w3.org/2000/svg'>
                <g fill-rule='evenodd' fill='none'>
                  <polygon fill='#2DC7FF' id='obj_1' points='664.726 204 677.583 211.726 669.858 224.583 657 216.858'></polygon>
                  <polygon fill='#0F2765' id='obj_2' points='6.889 7.171 8.707 13.954 1.924 15.772 .106 8.988'></polygon>
                  <polygon fill='#2DC7FF' id='obj_3' points='1300.726 117 1304.275 119.133 1302.142 122.682 1298.593 120.549'></polygon>
                  <circle cx='264' cy='10' fill='#2154CF' id='obj_4' r='10'></circle>
                  <circle cx='987.5' cy='100.5' fill='#153587' id='obj_5' r='7.5'></circle>
                  <circle cx='1163' cy='12' fill='#0C1F51' id='obj_6' r='5'></circle>
                  <circle cx='184.5' cy='135.5' fill='#0F2765' id='obj_7' r='4.5'></circle>
                  <circle cx='59.5' cy='114.5' fill='#2DC7FF' id='obj_8' r='2.5'></circle>
                  <circle cx='610' cy='166' fill='#0F2765' id='obj_9' r='2'></circle>
                  <circle cx='916' cy='7' fill='#2DC7FF' id='obj_10' r='7'></circle>
                </g>
              </svg>
            </form>
        </div>
    </div>
    include components/footer
