// 主色调
$primary: #512da8;
$p_light: #8559da;
$p_deep: #2f1870;
$p_dark: #140078;
// 副色调
$secondary: #424242;
$s_light: #6d6d6d;
$s_dark: #1b1b1b;
// 颜色命名
$white: #fff;
$grey: #bbb;
$white_light: #fafafa;
$grey_light: #f2f2f2;
// OK
$yes: #5aad1f;
$yes_dark: #448217;
// NOT OK
$no: #e61717;