// 英文字体，特别指定标准设计字体
@font-face {
    font-family: Asap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Asap-Regular.woff2") format("woff2"), url("../fonts/Asap-Regular.woff") format("woff"), url("../fonts/Asap-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
}

// 中文字体，特别指定最新的思源字体
@font-face {
    font-family: LightLx;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKannada-Regular.eot'), local('../fonts/NotoSansKannada-Regular.woff2') format('woff2'), local('../fonts/NotoSansKannada-Regular.woff') format('woff'), local('../fonts/NotoSansKannada-Regular.ttf') format('truetype');
}

@font-face {
    font-family: BoldLx;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKannada-Bold.eot'), local('../fonts/NotoSansKannada-Bold.woff2') format('woff2'), local('../fonts/NotoSansKannada-Bold.woff') format('woff'), local('../fonts/NotoSansKannada-Bold.ttf') format('truetype');
}