doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="keywords" content="Web开发、手机客户端IOS/Android开发、BI开发、爬虫开发、数据挖掘与分析、行业细分大趋势下的国际外包团队")
        meta(name="author" content="pengsuiwan,haoyu")
        title LxTech
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
    body#home
        block index
        block about
        block service
        block career
        block contact
