doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="Web开发、手机客户端IOS/Android开发、BI开发、爬虫开发、数据挖掘与分析、行业细分大趋势下的国际外包团队")
        meta(name="author" content="pengsuiwan,haoyu")
        meta(name="robots" content="朗信, LxTech, 外包，软件开发，移动开发，web开发")
        meta(property="og:url" content="https://langnal.com")
        meta(property="og:site_name" content="朗信科技 - 您创新我实现")
        meta(property="og:image" content="images/icons/favicon.png")
        meta(name="msapplication-TitleColor" content="#ffffff")
        meta(name="msapplication-TitleImage" content="images/icons/ms-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="images/icons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-icon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-icon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-icon-16x16.png")
        link(rel="icon" type="image/x-icon" href="images/icons/favicon.ico")
        title LxTech
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        script(type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=huZEOsqZL3WvgygRH9Pt6Vh6nRDzsESg")
        <!--[if lt IE 9]>
          <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
          <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        block index
        block about
        block service
        block career
        block contact
