block append header
<header class='container-fluid'>
  <div class='header_wrap'>
    <div class='logo_wrap'>
      <a href='/'>
        <svg id="LxTech_Software" version="1.1" viewBox='0 0 1075 510' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" xml:space="preserve">
          <g>
            <path id="fri-right-bottom" stroke="#fff" stroke-width='10' d="M57.069,332.416V440.07c-20.421-17.425-37.891-38.194-51.567-61.458v-87.326c0.012,0.012,0.023,0.021,0.035,0.033l241.259-153.917V16.089c17.887,2.449,35.154,6.845,51.567,12.988v118.759L57.069,332.416L57.069,332.416z" />
          </g>
          <g><path id="sec-right-bottom" stroke="#fff" stroke-width='10' d="M126.15,481.401V362.902l241.293-184.533V69.097c20.224,16.718,37.688,36.646,51.567,59.033v89.4c-0.041-0.039-0.081-0.075-0.122-0.112l-241.171,156.69l0,0V495.1C159.808,492.425,142.543,487.781,126.15,481.401L126.15,481.401z" />
          </g>
          <g><path id="fri-left-bottom" stroke="#fff" stroke-width='10' d="M126.15,149.175V30.198c16.393-6.38,33.658-11.022,51.567-13.697v120.992L419.01,294.071v89.398c-13.879,22.389-31.343,42.317-51.567,59.033v-109.29L126.15,149.175" />
          </g>
          <g>
            <path id="sec-left-bottom" stroke="#fff" stroke-width='10' d="M246.795,374.199L5.537,220.28l-0.035-87.291c13.676-23.266,31.146-44.035,51.567-61.46v108.63l241.294,183.606v118.76c-16.413,6.142-33.68,10.537-51.567,12.988V374.199H246.795z" />
          </g>
        </svg>
      </a>
    </div>
    <nav>
      <button class='hamburger_menu'>
        <span></span>
      </button>
      <ul class='menu_items'>
        <li>
          <a href='/about.html'>About</a></li>
        <li class='drop_down'>
          <a href='javascript:void(0)'>Development</a>
          <div class='drop_down-menu'>
            <div class='menu_l1'>
              <a class='web_development menu_l1-active' href='/web-development.html'>
                <span>
                  <img alt='' src='/images/svg/technology/web_development.svg'></span>Web Development</a>
              <a class='mobile_development' href='/mobile-development.html'>
                <span>
                  <img alt='' src='/images/svg/technology/mobile_development.svg'></span>Mobile Development</a>
              <a class='product_design' href='/product-design.html'>
                <span>
                  <img alt='' src='/images/svg/technology/product_design.svg'></span>Product Design</a>
            </div>
            <div class='menu_l2'>
              <div class='technologies_links web_development-sub_menu menu_l2-active'>
                <a href='/development/ruby-on-rails.html'>
                  <img alt='' src='/images/svg/technology/web_development/ruby_on_rails.svg'>Ruby on Rails</a>
                <a href='/development/backbon-js.html'>
                  <img alt='' src='/images/svg/technology/web_development/backbone.svg'>Backbone.js</a>
                <a href='/development/react-framework.html'>
                  <img alt='' src='/images/svg/technology/web_development/react.svg'>React.js</a>
                <a href='/development/angular-js.html'>
                  <img alt='' src='/images/svg/technology/web_development/angular.svg'>Angular.js</a>
                <a href='/development/elixir-programming.html'>
                  <img alt='' src='/images/svg/technology/web_development/elixir.svg'>Elixir</a>
                <a href='/development/artificial-intelligence.html'>
                  <img alt='' src='/images/svg/technology/web_development/ai.svg'>AI</a>
                <a href='/development/coffeescript.html'>
                  <img alt='' src='/images/svg/technology/web_development/coffee_script.svg'>Coffee Script</a>
                <a href='/development/haml-sass.html'>
                  <img alt='' src='/images/svg/technology/web_development/haml.svg'>Haml/SASS</a>
                <a href='/development/meteor-js.html'>
                  <img alt='' src='/images/svg/technology/web_development/meteor.svg'>Meteor.js</a>
                <a href='/development/postgresql.html'>
                  <img alt='' src='/images/svg/technology/web_development/postgre_sql.svg'>PostgreSQL</a>
                <a href='/development/slim.html'>
                  <img alt='' src='/images/svg/technology/web_development/slim.svg'>Slim</a>
                <a href='/development/mongodb.html'>
                  <img alt='' src='/images/svg/technology/web_development/mongo_db.svg'>MongoDB</a>
                <a href='/development/marionette-js.html'>
                  <img alt='' src='/images/svg/technology/web_development/marionette.svg'>Marionette</a>
                <a href='/development/api-integration.html'>
                  <img alt='' src='/images/svg/technology/web_development/api.svg'>API</a>
                <a href='/development/d3.html'>
                  <img alt='' src='/images/svg/technology/web_development/d3.svg'>D3</a></div>
              <div class='technologies_links mobile_development-sub_menu'>
                <a href='/mobile/react-native.html'>
                  <img alt='' src='/images/svg/technology/web_development/react.svg'>React Native</a></div>
              <div class='technologies_links product_design-sub_menu'>
                <a href='/design/branding.html'>
                  <img alt='' src='/images/svg/technology/product_design/branding.svg'>Branding</a>
                <a href='/design/interaction-design.html'>
                  <img alt='' src='/images/svg/technology/product_design/interaction_design.svg'>Interaction Design</a>
                <a href='/design/ui-design.html'>
                  <img alt='' src='/images/svg/technology/product_design/ui_design.svg'>UI Design</a></div>
            </div>
          </div>
        </li>
        <li>
          <a href='/career.html'>Career</a></li>
        <li>
          <a href='/blog/'>Blog</a></li>
      </ul>
      <div class='estimation'>
        <a class='button button-cyan' href='/get_estimation.html' onclick='_ga(&#39;send&#39;, &#39;Get_estimation&#39;, &#39;Form_estimation&#39;)'>Get Estimation</a></div>
    </nav>
  </div>
</header>
